# --------------------------------------------------
# Concurrency
# --------------------------------------------------
snippet scoped "spawn a scoped thread"
	thread::scoped(${1:move }|| {
		${0}
	});
