[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "home/.vim/bundle/python-mode"]
	path = home/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
	branch = develop
[submodule "home/.vim/bundle/dash"]
	path = home/.vim/bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
	branch = master
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
	branch = master
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "home/.vim/bundle/YouCompleteMe"]
	path = home/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	branch = master
[submodule "home/.vim/bundle/vim-snippets"]
	path = home/.vim/bundle/vim-snippets
	url = https://github.com/kevinkirkup/vim-snippets.git
	branch = master
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	branch = master
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	branch = master
[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/Vim-R-plugin"]
	path = home/.vim/bundle/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
	branch = master
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "home/.vim/bundle/Vim-Jinja2-Syntax"]
	path = home/.vim/bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
	branch = master
[submodule "home/.vim/bundle/clang_complete"]
	path = home/.vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
	branch = master
[submodule "home/.vim/bundle/vim-swift"]
	path = home/.vim/bundle/vim-swift
	url = https://github.com/Keithbsmiley/swift.vim.git
	branch = master
[submodule "home/.vim/bundle/hspec"]
	path = home/.vim/bundle/hspec
	url = https://github.com/hspec/hspec.vim
[submodule "home/.vim/bundle/rust.vim"]
	path = home/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "home/.vim/bundle/vim-autoformat"]
	path = home/.vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "home/.vim/bundle/vim-elixir"]
	path = home/.vim/bundle/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "home/.vim/bundle/vim-erlang-compiler"]
	path = home/.vim/bundle/vim-erlang-compiler
	url = https://github.com/vim-erlang/vim-erlang-compiler.git
[submodule "home/.vim/bundle/vim-erlang-omnicomplete"]
	path = home/.vim/bundle/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule "home/.vim/bundle/typescript-vim"]
	path = home/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/vim-jsdoc"]
	path = home/.vim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "home/.vim/bundle/vim-go"]
	path = home/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "home/.vim/bundle/vim-multiple-cursors"]
	path = home/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "home/.vim/bundle/vim-gradle"]
	path = home/.vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle
[submodule "home/.vim/bundle/kotlin-vim"]
	path = home/.vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "home/.vim/bundle/vim-terraform"]
	path = home/.vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = https://tpope.io/vim/repeat.git
[submodule "home/.vim/bundle/investigate.vim"]
	path = home/.vim/bundle/investigate.vim
	url = https://github.com/keith/investigate.vim.git
[submodule "home/.vim/bundle/tbone.vim"]
	path = home/.vim/bundle/tbone.vim
	url = https://github.com/tpope/vim-tbone.git
[submodule "home/.vim/bundle/vim-dadbod"]
	path = home/.vim/bundle/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "home/.vim/bundle/vim-airline-themes"]
	path = home/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "home/.vim/bundle/vim-delve"]
	path = home/.vim/bundle/vim-delve
	url = https://github.com/sebdah/vim-delve.git
[submodule "home/.vim/bundle/vimux"]
	path = home/.vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "home/.vim/bundle/dash.vim"]
	path = home/.vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "home/.vim/bundle/vim-material"]
	path = home/.vim/bundle/vim-material
	url = https://github.com/hzchirs/vim-material.git
[submodule "home/.vim/bundle/vim-one"]
	path = home/.vim/bundle/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "home/.vim/bundle/vim-go-impl"]
	path = home/.vim/bundle/vim-go-impl
	url = https://github.com/rhysd/vim-go-impl.git
[submodule "home/.vim/bundle/palenight.vim"]
	path = home/.vim/bundle/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule "home/.vim/bundle/embark.vim"]
	path = home/.vim/bundle/embark.vim
	url = https://github.com/embark-theme/vim.git
[submodule "home/.vim/bundle/vim-dogrun"]
	path = home/.vim/bundle/vim-dogrun
	url = https://github.com/wadackel/vim-dogrun.git
[submodule "home/.vim/bundle/iceberg.vim"]
	path = home/.vim/bundle/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "home/.vim/bundle/falcon.vim"]
	path = home/.vim/bundle/falcon.vim
	url = https://github.com/fenetikm/falcon.git
[submodule "home/.vim/bundle/vim-mix-format"]
	path = home/.vim/bundle/vim-mix-format
	url = https://github.com/mhinz/vim-mix-format.git
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/fzf.vim"]
	path = home/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "home/.tmux/plugins/coconut.vim"]
	path = home/.tmux/plugins/coconut.vim
	url = https://github.com/manicmaniac/coconut.vim.git
