# vim:ft=snippets:
# Snippets for Go
priority -50

snippet /^package/ "Package declaration" r
// Package $1 provides ...
package ${1:`!p import os; snip.rv = os.path.basename(os.getcwd())`}
endsnippet

snippet funch "HTTP handler" b
func ${2:handler}(${2:w} http.ResponseWriter, ${3:r} *http.Request) {
	${0:${VISUAL}}
}
endsnippet
